@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";
body{
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  height: 200vh;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.font-Anton{
  font-family: 'Anton', sans-serif;
}
.font-Rochester{
  font-family: 'Rochester', cursive;
}
.font-Hurricane{
  font-family: 'Hurricane', cursive;
}
.font-Alfa{
  font-family: 'Alfa Slab One', cursive;
}
.font-Bebas{
  font-family: 'Bebas Neue', sans-serif;
}
.bg-grid {
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 32px 32px;
}
.bg-grid-dark {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 32px 32px;
}
